@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) { /* CONFIGURAÇÃO PARA TABLET */
    body {
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
        background-attachment: fixed;
    }
    section {
        width: 80vw;
        height: 250px;
        display: flex;
    }
    .div_img {
        width: 40%;
        height: 100%;
    }
    input {
        flex-grow: 0.98;
    }
}

@media screen and (min-width: 992px) {
    body {
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
        background-attachment: fixed;
    }
    section {
        width: 900px;
        height: 300px;
        display: flex;
        flex-direction: row-reverse;
    }
    .div_img {
        width: 90%;
        height: 100%;
    }
    .div_form {
        flex-shrink: 1.3;
    }
    h1 {
        font-size: 2.2em;
        margin: 10px;
    }
    p {
        margin: 10px;
    }
    input {
        flex-grow: 0.95;
    }
}